body{
    background-color: #2F2F2F;
    background-image: url(../ARTES/phorche.png);
    height: 660px;
}
#carro{
    height: 660px;
    position: absolute;
}
#input1{
    margin-left: 800px;
    width: 300px;
    top: 270px;
}
#email{
    color: white;
    margin-top: 20px;
}
#senha{
    color: white;
}
#label1{
    font-size: 23px;
    color: white;

}
#bt{
    background-color: #D51E00;
    font-family: 'Chopsic';
    font-size: 22px;
    margin-left: 880px;
    margin-top: 270px;
    width: 150px;
    height: 50px;
    padding-top: 7px;
}
#texto{
    position: absolute;
    color: white;
    width: 330px;
    margin-left: 800px;
    text-align: center;
    font-size: 25px;
    font-family: 'Montserrat';
    font-weight: bold;
    top: 110px;
}