*{
    padding: 0;
    margin: 0;
    }
body{
        background-color: #2F2F2F;
        width: 1647;
        height: 649px;
        background-size: cover;
        align-items: center;
        justify-content: center;
}
#img1{
    width: 100%;
    position: absolute;
}
header{
    position: relative;
    width: 100%;
}
menu{
    color: white;
    text-align: center;
    width: auto;
    padding-top: 3%;
    font-family: 'arial';
    font-weight: bold;
}
#UserIcon{
    position: absolute;
    text-align: center;
    margin-left: 85%;
    margin-top: 2%;
}
#logo{
    position: absolute;
    width: 200px;
    margin-left: 5%;
    margin-top: 3%;
}
a{
    text-decoration: none;
    color: white;
    padding: 20px;
}
a:hover{
    text-decoration: none;
}
#div1{
    position: relative;
    margin-top: 30%;
    text-align: center;
    height: 50%;
}
#div1 img{
    padding: 2%;
}
#div2{
    height: 50%;
    display: flex;
    margin-top: 40%;
    background-color: #202020;
}
#div2 img{
    margin-left: 20%;
    height: 40px;
}
#div2 li{
    padding: 10px;
    font-size: 20px;
    color: white;
}
#div2 section{
    width: 45%;
}
#relato{
    margin-top: 5%;
    width: 55%;
    text-align: center;
}
#relato h4{
    color: #D51E00 ;
}
#relato h5{
    color: white;
}
footer{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #181818;
    height: 500px;
    display: flex;
    color: white;
}
footer section{
    padding-top: 10%;
    width: 33%;
    text-align: center;
}
footer h3{
    font-size: 25px;
    letter-spacing: 1px;
    font-family: 'Pervitina dex';
}
footer a{
    display: block;
    font-family: 'montserrat';
}