
body{
    background-color: #2F2F2F;
    background-image: url(../ARTES/phorche.png);
    height: 660px;
}

#logo{
    position: absolute;
    width: 199px;
    margin-left: 1%;
    margin-top: 2%;
    
}
#carro{
    height: 660px;
    position: absolute;
}
#input1{
    margin-left: 800px;
    width: 300px;
    top: 270px;
}
#email{
    color: white;
    margin-top: 20px;
}
#senha{
    color: white;
}
#label1{
    font-size: 23px;
    color: white;

}
#bt{
    background-color: #D51E00;
    font-family: 'arial';
    font-size: 22px;
    margin-left: 730px;
    margin-top: 269px;
    width: 200px;
    height: 50px;
    padding-top: 7px;
}
#bt1{
    background-color: #D51E00;
    font-family: 'arial';
    font-size: 22px;
    margin-left: 8px;
    margin-top: 270px;
    width: 200px;
    height: 50px;
    padding-top: 10px;
}
#texto{
    position: absolute;
    color: white;
    width: 330px;
    margin-left: 800px;
    text-align: center;
    font-size: 25px;
    font-family: 'arial';
    font-weight: bold;
    top: 110px;
}
#bt2{
    background-color: #D51E00;
    font-family: 'arial';
    font-size: 22px;
    margin-left: 860px;
    margin-top: 245px;
    width: 166px;
    height: 48px;
    padding-top: 7px;
}
